html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.main-link {
    margin-bottom: 50px;
}

.menu {
    margin-bottom: 50px;
}

.menu-link {
    display: inline-block;
    padding: 24px 49px 24px 49px;
    font-weight: 700;
    font-size: 18px;
    background-color: #3f2aff;
}

.menu-link:not(:last-child) {
    margin-right: 25px;
}

.download-link-img {
    padding-left: 30px;
    background-image: url("../img/download.png");
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 18px;
    color: #3f2aff;
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.container-main-header {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
}

.container-second-header {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.container-third-header {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}

.container-paragraph {
    margin-top: 0;
    margin-bottom: 40px;
    width: 872px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
}

.container-paragraph-blue {
    border-radius: 20px;
    padding: 50px 95px 50px 95px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3f2aff;
}

.container img {
    margin-bottom: 40px;
}

.booksback {
    padding-left: 0;
    background-image: url("../img/decorate-1.png");
    background-position: right center;
    background-repeat: no-repeat;
}

.booksbackend {
    padding-left: 0;
    background-image: url("../img/decorate-2.png");
    background-position: right center;
    background-repeat: no-repeat;
}

.container :not(:not(figure)) img {
    margin-bottom: 0px;
}

.container-figure {
    display: inline-block;
    margin: 0px 0px 40px 0px;
    width: 872px;
    font-size: 0;
}

.container figcaption {
    border: 1px #b6b6b6 solid;
    padding: 19px 0 19px 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.content {
    margin: 0;
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
}

.content:not(:last-child) {
    margin-bottom: 40px;
}

.content-second-headrer {
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.content-unordered-list {
    margin: 0;
    padding-left: 15px;
}

.content-list-link {
    border-bottom: 1px solid #3f2aff;
    font-size: 20px;
    color: #3f2aff;
}

.content-list-item::marker {
    color: #3f2aff;
}

.content-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.content-paragraph {
    width: 692px;
    margin: 0;
    margin-bottom: 10px;
    width: 872px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
}

.content-paragraph:last-child {
    margin: 0;
}

.modules-container{
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.modules-main-link {
    display: block;
    margin-bottom: 25px;
}

.modules-container-link{
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    background-image: url("../img/Arrow.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #3f2aff;
}

.modules-main-header{
    margin: 0;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;

    color: #3F2AFF;
}

.modules-content-unordered-list{
    margin: 0;
    padding: 0;
    font-size:0;
    margin-bottom: 50px;
}

.modules-content-list-item{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-shadow: 5px 5px 5px gray;
    list-style-type: none;
    min-height: 505px;
    min-width: 572px;
    margin-bottom: 25px;
    margin-right: 25px;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 205px 25px 25px 25px;
}

.modules-content-list-item:nth-child(even){
    margin-right: 0;
}

.modules-second-header{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #3F2AFF;
    margin: 0;
}

.modules-content-list-of-points{
    padding: 0;
}

.modules-content-list-point{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    color: #333333;
    list-style-type: none;
    margin: 0;
}

.modules-more-link{
    display: block;
    width: 274px;
    margin-left: auto;
    margin-right: auto;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 24px 24px;

    color: #3F2AFF;
    background-color: transparent;
    border: 2px solid #3F2AFF;
}

.modules-content-number{
    margin: 0;
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: left;
    color: #EAEAEA;
}

.photo1{
    background-image: url("../img/photo1.png");
}

.photo2{
    background-image: url("../img/photo2.png");
}

.photo3{
    background-image: url("../img/photo3.png");
}

.photo4{
    background-image: url("../img/photo4.png");
}
